<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>News Portal</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>

    <!-- Listener -->
    <listener>
        <listener-class>web.listeners.ConnectionPoolListener</listener-class>
    </listener>

    <!-- 1. EncodingFilter -->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>filter.EncodingFilter</filter-class>
    </filter>

    <!-- 2. SecurityFilter -->
    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>filter.SecurityFilter</filter-class>
    </filter>

    <!-- 3. NotFoundFilter -->
    <filter>
        <filter-name>NotFoundFilter</filter-name>
        <filter-class>filter.NotFoundFilter</filter-class>
    </filter>

    <!-- Порядок выполнения фильтров -->
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>NotFoundFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>