<?xml version="1.0" encoding="UTF-8"?>

<web-app>

  <display-name>News Portal</display-name>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>

  <!-- Listener ДОЛЖЕН быть первым! -->
  <listener>
    <listener-class>web.listeners.ConnectionPoolListener</listener-class>
  </listener>

  <!-- Фильтр аутентификации через куки -->
  <filter>
    <filter-name>AuthCookieFilter</filter-name>
    <filter-class>filter.AuthCookieFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthCookieFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>